@model ReviewSite.Models.Category

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <h1>Details for @Model.Name     </h1>

    @foreach (var review in Model.Reviews)
    {
        <div>

            <a href="/Reviews/Details/@review.Id">
                @review.Title
            </a>


        </div>
    }



</body>
</html>
